# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\t2008m_xml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
